extends layout

block content
  .clearfix
  h1 About

  p Welcome to Davina, Nima, and Yaseen's bookstore. This week, we wanted to create a books listing that used CRUD functionality. Our users can create new books, see a list of all books, be redirected to the details page of an individual book, and delete any entries.

  p We used a Mongo database, an Express Server in a Node.js environment, and Pug as an HTML templating engine. We used Bootstrap, JQuery, and a lot of Javascript for server and client side functionality.

  p Our fuzzy search bar looks for books by author or title from the navigation bar at the top of every page. On the search details page, a user can also search by genre or whether a book is fiction or non fiction. From there, a list is generated and a user can click on any particular book to return more information about it.

  p We found ourselves in mortal danger several times while attempting to complete this project. We got lost in the matrix, rescued princesses from dragons, and made our way back to Earth from the depths of the universe. Thank you for visiting the bookstore, and have a great day.
