body {
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-y: auto;
  background-color: hsl(2, 57%, 40%);
  background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
  repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
  repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
}

nav img {
  flex: 1
}

li {
  display: inline;
}

ul {
  flex: 9;
}

a {
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1.2em;
}

li {
  text-align: center;
}

nav {
  position: fixed;
  background-color: #000;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;

}

main {
  height: 60em;
  padding-top: 150px;
  color: #fff;
}

aside {
  position: fixed;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

aside form {
  display: flex;
  flex-direction: column;
}

aside form label {
  padding: 10px;
}

aside form div {
  padding: 10px;
}

article {
  padding-left: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px #000;
  padding-bottom: 20px;
}

article .page {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.book {
  padding: 20px;
}

.book img {
  width: 100px;
  height: 150px;
  float: left;
  padding-right: 20px;
}

.book h3 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.detail {
  color: white;
  text-shadow: 2px 2px #000;
  padding-top: 180px;
  padding-left: 50px;
  padding-right: 20%;
}

.detail img {
  float: left;
  padding-right: 20px;
}

.detail .links {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
  padding-top: 50px;
  font-size: 1.2em;
}

.inputAll {
  width: 400px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.4em;
  background-color: white;
  background-position: 10px 10px;
  padding: 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.addBook {
  padding: 5em;
}

.textBox {
  padding-bottom: 20px;
}

input[type=text]:focus {
  width: 80%;

}

.search-box {
  padding: 12px 20px 12px 40px;
  background-image: url('http://www.w3schools.com/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 150px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.4em;
  background-color: white;
  background-position: 10px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.submit {
  width: 150px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.4em;
  background-color: white;
  background-position: 10px 10px;
  margin-top: 50px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  -moz-box-shadow:inset -1px 0px 10px -14px #d4aad4;
  -webkit-box-shadow:inset -1px 0px 10px -14px #d4aad4;
  box-shadow:inset -1px 0px 10px -14px #d4aad4;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0c57c9), color-stop(1, #4b88e3));
  background:-moz-linear-gradient(top, #0c57c9 5%, #4b88e3 100%);
  background:-webkit-linear-gradient(top, #0c57c9 5%, #4b88e3 100%);
  background:-o-linear-gradient(top, #0c57c9 5%, #4b88e3 100%);
  background:-ms-linear-gradient(top, #0c57c9 5%, #4b88e3 100%);
  background:linear-gradient(to bottom, #0c57c9 5%, #4b88e3 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c57c9', endColorstr='#4b88e3',GradientType=0);
  background-color:#0c57c9;
  border-radius:11px;
  display:inline-block;
  cursor:pointer;
  color:#f0f0f0;
  font-family:Trebuchet MS;
  font-size:17px;
  font-weight:bold;
  padding:10px 31px;
  text-decoration:none;
  text-shadow:0px -1px 0px #000000;
}

.submit:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4b88e3), color-stop(1, #0c57c9));
  background:-moz-linear-gradient(top, #4b88e3 5%, #0c57c9 100%);
  background:-webkit-linear-gradient(top, #4b88e3 5%, #0c57c9 100%);
  background:-o-linear-gradient(top, #4b88e3 5%, #0c57c9 100%);
  background:-ms-linear-gradient(top, #4b88e3 5%, #0c57c9 100%);
  background:linear-gradient(to bottom, #4b88e3 5%, #0c57c9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b88e3', endColorstr='#0c57c9',GradientType=0);
  background-color:#4b88e3;
}

.submit:active {
  position:relative;
  top:1px;
}

.error {
  color: white;
}

p {
  font-size: 1.1em;
}
